doctype html
html
  head
    meta(charset='UTF-8', dir='rtl')
    meta(name='description', content='Learning - link the universe')
    title Crosslink

  body
    #app
    script(src="./src/index.jsx")
