// reset default styles for everything
*
  padding 0
  margin 0
  
  border none
  outline 0
  color inherit
  font-size inherit
  font-family inherit
  font-style inherit
  text-decoration none
  border-radius 0
  font inherit
  text-align: center
  box-sizing: border-box;
 

body {
  background #EBE9E4
  margin: 0;
  padding: 0;
  
}

@font-face {
  font-family diomedium;
  src: url('./fonts/DiodrumArabic.Medium.ttf');
}


#app
  position relative
  width 100%
  height: 100vh;//100% view height
  width: 100vw;// 100% view width 
  
.mainParent
  top 0
  bottom: 0
  right 0
  left 0

.wrapper
  top 0
  bottom: 0
  right 0
  left 0
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  height: 100vh
  

.header
  background: none


.main
  

  display block
  max-height: calc(100% - 10%);
  position relative
  text-align: center;
  background: none;


.aside1
  background #EBE9E4
  box-shadow: 15px 0px 15px -10px rgba(135, 135, 135, .1);
  max-height: 100vh;
  justify-content: center;
  
.aside2
  
  padding-top: 10px
  background #EBE9E4
  
.footer
  background: none;

.wrapper, .aside1 > * {
  
  flex: 1 100% ;
  
}

@media all and (max-width: 800px) {
  .aside1, .aside2 { flex: 1 auto;  }
  .moviecontainer { flex-direction: row ; }
  .aside1 { order: 3; }
  .aside2 { order: 1; }
  .footer { order: 6; }
  .main   { order: 2; padding: 10px; }
  .header { order: 0; }
  .menu { flex-direction: row; justify-content space-between ; }
  .line { display: none;}
  .menubtn { flex-grow: 1 ;}
  .drawerbtn { display : none ;}
}

@media all and (min-width: 800px) {
 
  .main    { flex: 10 ;  }
  .aside1 { order: 1;   } 
  .main    { order: 2; }
  .aside2 { order: 3;  ; flex: .1 0 auto;}
  .footer  { order: 5; }
  .moviecontainer { flex-direction: column ; }
  .menu { flex-direction: column ; width:50px}
}

  



.drawerbtn
  width 15px
  left 15%
  position absolute