.main
  

  display block
  max-height: calc(100% - 10%);
  position relative
  text-align: center;
  background: none;


@media all and (max-width: 800px) {
  
  .main   { order: 2; padding: 10px; }
 
 }

@media all and (min-width: 800px) {
 
  .main    { flex: 10 ;  }
 
  .main    { order: 2; }
 
}


.mainText
  text-align: center
  background: none
  padding: 10px
  text-align:justify

.backgroundLayout
  max-width 100%
  max-height: 100%
  background: none
  padding: 10px;

.character
  
  background: none

.characterbox
  width : 20%
 
  top: 60%
  left 5%
  background: none
  position absolute

.shadow
  max-width 100%
  background: none
  position absolute
  mix-blend-mode: multiply
  top 90%
  left: 0

.dialogbox
 
  background: none
   
.dialog
  font-family diomedium;
  font-size: 12px
  position absolute
  background: none
  bottom: 15%
  padding: 5px
  
.dialogcontainer
  font-size: 14px
  width 100%
  position absolute
  background: none
  top 60%
  left -90%
  font-family diomedium;
  
.pointingline
  width 100%
  background: none
  position absolute
  right 103%
  bottom:  73%

.maininside
  position relative
  display inline-block
  height: 100%
  vertical-align: middle