.aside2
  
  padding-top: 10px
  background #EBE9E4

@media all and (max-width: 800px) {
  .aside2 { flex: 1 auto;  }
 
  .menu { flex-direction: row; justify-content space-between ; margin: 10% 10% ; }
  .line { display: none;}
  
  
}

@media all and (min-width: 800px) {
  
  .aside2 { order: 3;  ; flex: .1 0 auto;}
 
  .menu { flex-direction: column ; width:50px}
}

.logo
  
  width 50px

.line
  stroke:#DFC5A4
  stroke-width:1
  height 50px
  margin: 10px 0

.menu
  font-family: diomedium  
  display: flex
  font-size: 12px
  white-space: nowrap;
  color #DFC5A4
  text-align: center

.homebtn
  
  text-align: center

.menubtn
  text-align: center
  background: none
  padding: 5px
  