.aside1
  background #EBE9E4
  box-shadow: 15px 0px 15px -10px rgba(135, 135, 135, .1);
  flex: 1 100%;
 

.moviebox
  background: black
  width: 70px
  height 104px
  display block
  margin: 10px
  align-self: center
  box-shadow: -2px 2px 5px 1px rgba(135, 135, 135, .4);

.moviecontainer
  justify-content: center
 
  display: flex
  
.drawerbtn
  width 15px
  left 15%
  position absolute
  
.movieimage
  width 100%

@media all and (max-width: 800px) {
  .aside1 { margin: auto ;}
  .moviecontainer { flex-direction: row ; }
  
  .drawerbtn { display : none ;}
}

@media all and (min-width: 800px) {
  .aside1 { margin: auto ; flex: 2 ;}
  .moviecontainer { flex-direction: column ; }
  
}